.sidebar {
    width: 250px;
    transition: transform 0.4s ease-in-out;
    background-color: grey;
  }
  
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  .sidebar-visible {
    transform: translateX(0);
  }
  