.sticky-element {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 70px; /* Adjust this value as needed */
    z-index: 1000; /* Ensure it stays on top */
    background-color: white; /* Optional: To ensure the background is not transparent */
}

.zoom-container {
    position: relative;
    overflow: hidden;
}

.zoom-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 400%; /* Adjust as needed */
    pointer-events: none;
    display: none;
    z-index: 1000;
}
