
.fixed-element{
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
}
.navbar-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
}

.flex-item{
    flex-grow: 1;
}

@media (min-width: 590px) {
    .flex-item{
        order: -1;
    }
}