
.priceDetails {
    margin: '5px 0';
}

.label {
    font-size: 16px;
    text-decoration: line-through;

}

.currentPrice {
    color: '#28a745';
    font-weight: bold;
}

.previousPrice {
    text-decoration: 'line-through';
    color: '#dc3545';
}

.discount{
    color: #03AED2;
    font-size: 16px;
    font-weight: bold;
}