
.add-to-cart-btn{
    background-color: #FFA62F;
}
.buy-now-btn{
    background-color: #03AED2;
}
.add-to-cart-btn:hover {
    background-color: #03AED2;
}

.buy-now-btn:hover {
    background-color: #FFA62F;
}

.star-rating-position{
    position:absolute;
    top: 12px;
    left: 12px;
    font-size: 12px;
    font-weight: bold;
}

.sticky-element {
    position: -webkit-sticky; 
    position: sticky;
    top: 70px;
    z-index: 5;
    background-color: white;
}
